.tutorial {
  position: fixed;
  top: var(--header-height);
  width: 100%;
  height: calc(100vh - var(--header-height));
}

.tutorial .repl {
  display: grid;
  grid-template-rows: var(--repl-tab-height) 1fr var(--repl-tab-height) 1fr;
  grid-template-areas:
    'repl-input-tabs'
    'repl-input-panel'
    'repl-output-tabs'
    'repl-output-panel';
  height: calc(100vh - var(--header-height) - var(--repl-tab-height));
}

.tutorial-repl-footer {
  height: var(--repl-tab-height);
  background: var(--repl-tab-bg-color);
}

.tutorial main {
  display: grid;
  grid-template-columns: minmax(450px, 33%) auto;
  grid-template-areas: 'content-panel repl-panel';
  height: 100%;
}

.repl-panel {
  grid-area: repl-panel;
}

.content-panel {
  grid-area: content-panel;
  position: relative;

  background-color: #eee;
  color: rgb(37, 37, 37);

  display: grid;
  grid-template-rows: var(--repl-tab-height) 1fr var(--repl-tab-height);
  grid-template-areas:
    'content-header'
    'content-main'
    'content-footer';
  height: calc(100vh - var(--header-height));
}

.content-header {
  grid-area: content-header;
  position: relative;
  background-color: var(--repl-tab-bg-color);
}

.content-header svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

.content-header select {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.0001;
  cursor: pointer;
  -webkit-appearance: none;
}

.content-header h1 {
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 4px 6px 42px;
}

.content-main {
  grid-area: content-main;
  padding: 15px;
  overflow-y: auto;
}

.content-footer {
  grid-area: content-footer;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--repl-tab-bg-color);
}

.content-footer nav {
  text-align: right;
}
